{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    background: rgb(90, 87, 85);
    
}
.idk{
    font-size: 60px;
    text-align: center;
    
}
.my-pic{
    width: 200px;
    height: 200px;
}
.split{
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.left{
    position: relative;
    background-color: #AED581;
    padding: 30px;
}
.right{
    position: relative;
    background-color:silver;
    line-height: 1.75;
    margin: 0px;
    position: relative;
    align-items: center;
}

.box-one
{background-color: rgb(239, 239, 247);
border:darksalmon;
padding: 3px;
}

.container
{
    position: relative;
    width:100%;
    max-width: 1000px;
    min-height: 100px;
    background:rgb(124, 7, 7);
}
.address{
    font-size: 20px;
    color: darkcyan;

}
h1{
    letter-spacing: 0px;
    font-size: 40px;
    font-weight: 300;
    color:cadetblue;
    border:wheat solid 2px;

}
.email,.phone{
    font-weight: 300;
    font-size: 20px;
    color:cadetblue

}
.full-name
{   letter-spacing: 5px;
    font-size: 60px;  
}
.first-name{
    font-weight: 600;
}
.last-name{
    font-weight: 100;
}
